<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>sedam</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>sedam</string>
            </array>
        </dict>
    </array>  <!-- ← 닫는 태그 추가 -->

    <key>UIAppFonts</key>
    <array>
        <string>Pretendard-SemiBold.otf</string>
        <string>Danjo-bold-Regular.otf</string>
    </array>

    <key>SUPABASE_KEY</key>
    <string>$(SUPABASE_KEY)</string>
</dict>
</plist>
