<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>sedam</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sedam</string>
			</array>
		</dict>
	</array>
	<key>SUPABASE_KEY</key>
	<string>$(SUPABASE_KEY)</string>
	<key>TEST_EMAIL</key>
	<string>$(TEST_EMAIL)</string>
	<key>TEST_PASSWORD</key>
	<string>$(TEST_PASSWORD)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-SemiBold.otf</string>
		<string>Danjo-bold-Regular.otf</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>TEST_PASSWORD</key>
	<string>$(TEST_PASSWORD)</string>
	<key>SUPABASE_KEY</key>
	<string>$(SUPABASE_KEY)</string>
	<key>LAMBDA_APP_KEY</key>
	<string>$(LAMBDA_APP_KEY)</string>
	<key>LAMBDA_URL</key>
	<string>https://$(LAMBDA_URL)</string>
	<key>TEST_EMAIL</key>
	<string>$(TEST_EMAIL)</string>
</dict>
</plist>
